@page "/detalles/id={IdVacante:int}"
@inject HttpClient Http
@using System.IO;
@using System.Net.Http;
@using System.Net.Http.Json;
@using apiVacantes.Models;
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@attribute [AllowAnonymous]


@{

    string url = Request.GetDisplayUrl();
    int BeforeID = url.IndexOf("=");

    int id = Convert.ToInt32(url.Substring(BeforeID + 1, (url.Length - BeforeID) - 1));
    Trabajos trabajo = await Http.GetFromJsonAsync<Trabajos>($"api/Vacantes/{id}");
    Categoria categoria = await Http.GetFromJsonAsync<Categoria>($"/api/Categoria/{trabajo.IdCategoria}");
    var path = $"{env.WebRootPath}\\logos\\{trabajo.Logo}";

    ViewBag.Title = $"Vacante {trabajo.Empresa}";

    if (System.IO.File.Exists(path) == false)
    {
        trabajo.Logo = "logoVRD.jpg";
    };

    string tipo = "";
    if (trabajo.IdTipo == 1) tipo = "Full-Time";
    else if (trabajo.IdTipo == 2) tipo = "Part-Time";
    else if (trabajo.IdTipo == 3) tipo = "Freelance";
}

<div class="card my-3 mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-10">
            <div class="card-body pb-0">
                <h1 class="card-text">@trabajo.Empresa</h1>
                <a href="/categoria/id=@categoria.IdCategoria" class="text-decoration-none">
                <span class="card-text"><i class="bi bi-tag"></i> @categoria.Nombre</span></a> - 
                <span class="card-text"><i class="bi bi-geo-alt-fill"></i> @trabajo.Ubicacion</span>
                <hr />
                <p class="card-title">@trabajo.Posicion | @tipo</p>
                <hr />
            </div>
        </div>
        <div class="col-md-2">
            <img src="~/logos/@trabajo.Logo" class="img-fluid" alt="logo">
        </div>
    </div>
    <div class="card-body pt-0">
        <h4 class="h4">Descripcion</h4>
        <p class="card-text">@trabajo.Descripcion</p>
        <h4 class="h5">Como Aplicar</h4>
        <span class="card-text">@trabajo.ComoAplicar</span> |
        <span class="card-text">Email: </span><a href="mailto:GBH@vacantes.es" class="text-decoration-none link-info">@trabajo.Email</a>
        @if (trabajo.UrlString != null)
        {
            <span class="card-text">| URL: </span><a href="../@trabajo.UrlString" class="text-decoration-none link-info">@trabajo.UrlString</a>
        }
    </div>
    <div class="card-footer">
        <p class="card-text"><small class="text-muted">Publicado en: @trabajo.Fecha</small></p>
    </div>
</div>